<div>
    <ul id="mainChoiceslist">
        <li><div>
            <md-button class="md-raised md-primary" ng-click="goto('/newTournament')">Nieuw Tornooi</md-button>
        </div></li>
        <li><div>
            <md-button class="md-raised md-primary" ng-click="goto('/loadTournament')">Laad Tornooi</md-button>
        </div></li>
        <li>
            <div>
                <md-button class="md-raised md-primary" ng-click="goto('/playerDbOverview')">Speler management</md-button>
            </div>
        </li>
    </ul>

</div>

