<section class="md-whiteframe-z3" style="margin: 20px">
 <md-toolbar class="md-padding"><h2>Regels</h2></md-toolbar>
        <label for="numberOfSetsToWin">Aantal te winnen sets</label>
        <input id="numberOfSetsToWin" type="text" ng-model="seriesToChange.seriesRules.numberOfSetsToWin"/><br>
        <label for="setTargetScore">set doelscore</label>
        <input id="setTargetScore" type="text" ng-model="seriesToChange.seriesRules.setTargetScore"/><br>
        <label for="playingWithHandicaps">met voorgift</label>
        <input id="playingWithHandicaps" type="checkbox" ng-model="seriesToChange.seriesRules.playingWithHandicaps"/><br>
        <label for="showReferees">met scheidsen</label>
        <input id="showReferees" type="checkbox" ng-model="seriesToChange.seriesRules.showReferees"/><br>
        <label for="extraHandicapForRecs">Extra voorgift voor REC's</label>
        <input id="extraHandicapForRecs" type="text" ng-model="seriesToChange.seriesRules.extraHandicapForRecs"/><br>
</section>